Celery==4.1.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0/en_core_web_sm-2.0.0.tar.gz
Flask-Admin==1.5.0
Flask-Bcrypt==0.7.1
Flask-DebugToolbar==0.10.0
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.1.1
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
flask-restful==0.3.6
gunicorn==19.4.5
itsdangerous==0.24
pytz==2016.10
redis==2.10.6
requests==2.18.4
spacy==2.0.7
structlog==16.1.0
termcolor==1.1.0
WTForms==2.1
